/*
// JoomlaWorks "Simple Image Gallery PRO" Plugin for Joomla! 1.5.x - Version 2.0.5
// Copyright (c) 2006 - 2010 JoomlaWorks Ltd.
// This code cannot be redistributed without permission from JoomlaWorks
// More info at http://www.joomlaworks.gr
// Designed and developed by JoomlaWorks
// ***Last update: February 18th, 2010***
*/

/* --- IE styling only --- */
li.sig-block a.sig-link,
li.sig-block a.sig-link:hover { float:left; }

/* Caption */
span.sig-pseudo-caption,
span.sig-caption { display:block; position:absolute; bottom:10%; left:auto; right:0; width:78%; text-align:right; padding:2px 4px; font-family:"Trebuchet MS", Trebuchet, Arial, Verdana, sans-serif; font-size:11px; cursor:pointer; }
span.sig-pseudo-caption { filter:alpha(opacity=70); }
