/**
* @version $Id: general.css 14401 2010-01-26 14:10:00Z louis $
* @copyright Copyright (C) 2005 - 2010 Open Source Matters. All rights reserved.
* @license GNU/GPL, see LICENSE.php
* Joomla! is free software. This version may have been modified pursuant
* to the GNU General Public License, and as distributed it includes or
* is derivative of works licensed under the GNU General Public License or
* other free or open source software licenses.
* See COPYRIGHT.php for copyright notices and details.
*/

/**
 * Joomla! 1.5 Admin template main css file
 *
 * @author		Andy Miller <andy.miller@joomla.org>
 * @package		Joomla
 * @since		1.5
 * @version    1.0
*/

/* -- General styles ------------------------------ */

body {
    margin: 10px; padding: 0;
    background: #fff;
    padding-bottom: 1px;

    font-size: 11px;
}

body, td, th { font-family: Arial, Helvetica, sans-serif; }

html, body { height: 95%; }

#minwidth { min-width: 960px; }

.clr { clear: both; overflow:hidden; height: 0; }

a, img { padding: 0; margin: 0;position: relative; }

img { border: 0 none; }

form { margin: 0; padding: 0 0 0 10px; }

h1 {
    margin: 0; padding-bottom: 8px;
    color: #0B55C4; font-size: 20px; font-weight: bold;
}

h3 {
    font-size: 13px;
}

a:link    { color: #0B55C4; text-decoration: none; }
a:visited { color: #0B55C4; text-decoration: none; }
a:hover   { text-decoration: underline; }

fieldset {
    margin-bottom: 10px;
    border: 1px #ccc solid;
    padding: 5px;
    text-align: left;
}

fieldset p {  margin: 10px 0px;  }

legend    {
    color: #0B55C4;
    font-size: 12px;
    font-weight: bold;
}

input, select { font-size: 10px;  border: 1px solid silver; }
textarea      { font-size: 11px;  border: 1px solid silver; }
button        { font-size: 10px;  }

input.disabled { background-color: #F0F0F0; }

input.button  { cursor: pointer;   }

input:focus,
select:focus,
textarea:focus { background-color: #ffd }

/* -- overall styles ------------------------------ */

#border-top.h_green          { background: url(../images/h_green/j_header_middle.png) repeat-x; }
#border-top.h_green div      { background: url(../images/h_green/j_header_right.png) 100% 0 no-repeat; }
#border-top.h_green div div  { background: url(../images/h_green/j_header_left.png) no-repeat; height: 54px; }

#border-top.h_teal          { background: url(../images/h_teal/j_header_middle.png) repeat-x; }
#border-top.h_teal div      { background: url(../images/h_teal/j_header_right.png) 100% 0 no-repeat; }
#border-top.h_teal div div  { background: url(../images/h_teal/j_header_left.png) no-repeat; height: 54px; }

#border-top.h_cherry          { background: url(../images/h_cherry/j_header_middle.png) repeat-x; }
#border-top.h_cherry div      { background: url(../images/h_cherry/j_header_right.png) 100% 0 no-repeat; }
#border-top.h_cherry div div  { background: url(../images/h_cherry/j_header_left.png) no-repeat; height: 54px; }

#border-top .title {
    font-size: 22px; font-weight: bold; color: #fff; line-height: 44px;
    padding-left: 250px;
}

#border-top .version {
    display: block; float: right;
    color: #fff;
    padding: 25px 5px 0 0;
}

#border-bottom 			{ background: url(../images/j_bottom.png) repeat-x; }
#border-bottom div  		{ background: url(../images/j_corner_br.png) 100% 0 no-repeat; }
#border-bottom div div 	{ background: url(../images/j_corner_bl.png) no-repeat; height: 11px; }

#footer .copyright { margin: 10px; text-align: center; }

#header-box  { border: 1px solid #ccc; background: #f0f0f0; }

#content-box {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

#content-box .padding  { padding: 10px 10px 0 10px; }

#toolbar-box 			{ background: #fbfbfb; margin-bottom: 10px; }

#submenu-box { background: #f6f6f6; margin-bottom: 10px; }
#submenu-box .padding { padding: 0px;}


/* -- status layout */
#module-status      { float: right; }
#module-status span { display: block; float: left; line-height: 16px; padding: 4px 10px 0 22px; margin-bottom: 5px; }

#module-status { background: url(../images/mini_icon.png) 3px 5px no-repeat; }
.legacy-mode{ color: #c00;}
#module-status .preview 			  { background: url(../images/menu/icon-16-media.png) 3px 3px no-repeat; }
#module-status .unread-messages,
#module-status .no-unread-messages { background: url(../images/menu/icon-16-messages.png) 3px 3px no-repeat; }
#module-status .unread-messages a  { font-weight: bold; }
#module-status .loggedin-users     { background: url(../images/menu/icon-16-user.png) 3px 3px no-repeat; }
#module-status .logout             { background: url(../images/menu/icon-16-logout.png) 3px 3px no-repeat; }

/* -- various styles -- */
span.note {
    display: block;
    background: #ffd;
    padding: 5px;
    color: #666;
}

/** overlib **/

.ol-foreground {
    background-color: #ffe;
}

.ol-background {
    background-color: #6db03c;
}

.ol-textfont {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #666;
}

.ol-captionfont {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #fff;
    font-weight: bold;
}
.ol-captionfont a {
    color: #0b5fc6;
    text-decoration: none;
}

.ol-closefont {}

/** toolbar **/

div.header {
    font-size: 22px; font-weight: bold; color: #0B55C4; line-height: 50px;
    padding-left: 55px;
    background-repeat: no-repeat;
    margin-left: 10px;
}

div.header span { color: #666; }

div.configuration {
    font-size: 14px; font-weight: bold; color: #0B55C4; line-height: 16px;
    padding-left: 30px;
    margin-left: 10px;
    background-image: url(../images/menu/icon-16-config.png);
    background-repeat: no-repeat;
}

div.toolbar { float: right; text-align: right; padding: 0; }

table.toolbar    			 { border-collapse: collapse; padding: 0; margin: 0;	 }
table.toolbar td 			 { padding: 1px 1px 1px 4px; text-align: center; color: #666; height: 48px; }
table.toolbar td.spacer  { width: 10px; }
table.toolbar td.divider { border-right: 1px solid #eee; width: 5px; }

table.toolbar span { float: none; width: 32px; height: 32px; margin: 0 auto; display: block; }

table.toolbar a {
    display: block; float: left;
    white-space: nowrap;
    border: 1px solid #fbfbfb;
    padding: 1px 5px;
    cursor: pointer;
}

table.toolbar a:hover {
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    color: #0B55C4;
}

/** for massmail component **/
td#mm_pane			{ width: 90%; }
input#mm_subject    { width: 200px; }
textarea#mm_message { width: 100%; }

/* pane-sliders  */
.pane-sliders .title {
    margin: 0;
    padding: 2px;
    color: #666;
    cursor: pointer;
}

.pane-sliders .panel   { border: 1px solid #ccc; margin-bottom: 3px;}

.pane-sliders .panel h3 { background: #f6f6f6; color: #666}

.pane-sliders .content { background: #f6f6f6; }

.pane-sliders .adminlist     { border: 0 none; }
.pane-sliders .adminlist td  { border: 0 none; }

.jpane-toggler  span     { background: transparent url(../images/j_arrow.png) 5px 50% no-repeat; padding-left: 20px;}
.jpane-toggler-down span { background: transparent url(../images/j_arrow_down.png) 5px 50% no-repeat; padding-left: 20px;}

.jpane-toggler-down {  border-bottom: 1px solid #ccc; }

/* tabs */

dl.tabs {
    float: left;
    margin: 10px 0 -1px 0;
    z-index: 50;
}

dl.tabs dt {
    float: left;
    padding: 4px 10px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-left: 3px;
    background: #f0f0f0;
    color: #666;
}

dl.tabs dt.open {
    background: #F9F9F9;
    border-bottom: 1px solid #F9F9F9;
    z-index: 100;
    color: #000;
}

div.current {
    clear: both;
    border: 1px solid #ccc;
    padding: 10px 10px;
}

div.current dd {
    padding: 0;
    margin: 0;
}
/** cpanel settings **/

#cpanel div.icon {
    text-align: center;
    margin-right: 5px;
    float: left;
    margin-bottom: 5px;
}

#cpanel div.icon a {
    display: block;
    float: left;
    border: 1px solid #f0f0f0;
    height: 97px;
    width: 108px;
    color: #666;
    vertical-align: middle;
    text-decoration: none;
}

#cpanel div.icon a:hover {
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #f9f9f9;
    color: #0B55C4;
}

#cpanel img  { padding: 10px 0; margin: 0 auto; }
#cpanel span { display: block; text-align: center; }

/* standard form style table */
div.col { float: left; }
div.width-45 { width: 45%; }
div.width-55 { width: 55%; }
div.width-50 { width: 50%; }
div.width-70 { width: 70%; }
div.width-30 { width: 30%; }
div.width-60 { width: 60%; }
div.width-40 { width: 40%; }

table.admintable td 					 { padding: 3px; }
table.admintable td.key,
table.admintable td.paramlist_key {
    background-color: #f6f6f6;
    text-align: right;
    width: 140px;
    color: #666;
    font-weight: bold;
    border-bottom: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
}

table.paramlist td.paramlist_description {
    background-color: #f6f6f6;
    text-align: left;
    width: 170px;
    color: #333;
    font-weight: normal;
    border-bottom: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
}

table.admintable td.key.vtop { vertical-align: top; }

table.adminform {
    background-color: #f9f9f9;
    border: solid 1px #d5d5d5;
    width: 100%;
    border-collapse: collapse;
    margin: 8px 0 10px 0;
    margin-bottom: 15px;
    width: 100%;
}
table.adminform.nospace { margin-bottom: 0; }
table.adminform tr.row0 { background-color: #f9f9f9; }
table.adminform tr.row1 { background-color: #eeeeee; }

table.adminform th {
    font-size: 11px;
    padding: 6px 2px 4px 4px;
    text-align: left;
    height: 25px;
    color: #000;
    background-repeat: repeat;
}
table.adminform td { padding: 3px; text-align: left; }

table.adminform td.filter{
    text-align: left;
}

table.adminform td.helpMenu{
    text-align: right;
}


fieldset.adminform { border: 0px solid #ccc; margin: 0px 10px 0px 10px; padding-top:30px;}

/** Table styles **/

table.adminlist {
    width: 100%;
    border-spacing: 1px;
    background-color: #e7e7e7;
    color: #666;
    border: none;
}

table.adminlist td,
table.adminlist th {
    padding: 4px;
}
table.headerreport{
    border: 1px solid #CCC;
}
table.headerreport tbody tr td {
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    height: 25px;
    text-align: left;
}
table.headerreport .key{
   background-color: #f6f6f6;
    color: #666666;
    font-weight: bold;
    padding-left: 5px;
    width: 25%;
}
table.adminlist thead th, table.adminlist thead td {
    text-align: center;
    background: #f0f0f0;
    color: #666;
    border-bottom: 1px solid #999;
    /*border-left: 1px solid #fff;*/
    border: none;
}

table.adminlist  .encabezado {
    text-align: center;
    background: #f0f0f0;
    color: #666;
    border-bottom: 1px solid #999;
    border-left: 1px solid #fff;
}

table.adminlist thead a:hover { text-decoration: none; }

table.adminlist thead th img { vertical-align: middle; }

table.adminlist tbody th { font-weight: bold; }

table.adminlist tbody tr			{ background-color: #fff;  text-align: left; }
table.adminlist tbody tr.row1 	{ background: #f9f9f9; border-top: 1px solid #fff; }

table.adminlist tbody tr.row0:hover td,
table.adminlist tbody tr.row1:hover td  { background-color: #ffd ; }

table.adminlist tbody tr td 	   { height: 25px; background: #fff; border: 1px solid #F9F9F9; }
table.adminlist tbody tr.row1 td { background: #f9f9f9; border-top: 1px solid #FFF; }

table.adminlist tfoot tr { text-align: center;  color: #333; }
table.adminlist tfoot td,
table.adminlist tfoot th { background-color: #f3f3f3; border-top: 1px solid #999; text-align: center; }

table.adminlist td.order 		{ text-align: center; white-space: nowrap; }
table.adminlist td.order span { float: left; display: block; width: 20px; text-align: center; }

table.adminlist .pagination { display:table; padding:0;  margin:0 auto;	 }

.pagination div.limit {
    float: left;
    height: 22px;
    line-height: 22px;
    margin: 0 10px;
}

/** stu nicholls solution for centering divs **/
.container {clear:both; text-decoration:none;}
* html .container {display:inline-block;}

/** table solution for global config **/
table.noshow   		 { width: 100%; border-collapse: collapse; padding: 0; margin: 0; }
table.noshow tr 		 { vertical-align: top; }
table.noshow td 		 { }
table.noshow fieldset { margin: 15px 7px 7px 7px; }

#editor-xtd-buttons { padding: 5px; }

/* -- buttons -> STILL NEED CLEANUP*/

.button1,
.button1 div{
    height: 1%;
    float: right;
}

.button2-left,
.button2-right,
.button2-left div,
.button2-right div {
    float: left;
}

.button1 { background: url(../images/j_button1_left.png) no-repeat; white-space: nowrap; padding-left: 10px; margin-left: 5px;}

.button1 .next { background: url(../images/j_button1_next.png) 100% 0 no-repeat; }

.button1 a {
    display: block;
    height: 26px;
    float: left;
    line-height: 26px;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    padding: 0 30px 0 6px;
}

.button1 a:hover { text-decoration: none; color: #0B55C4; }

.button2-left a,
.button2-right a,
.button2-left span,
.button2-right span {
    display: block;
    height: 22px;
    float: left;
    line-height: 22px;
    font-size: 11px;
    color: #333;
    cursor: pointer;
}

.button2-left span,
.button2-right span { cursor: default; color: #999; }

.button2-left .page a,
.button2-right .page a,
.button2-left .page span,
.button2-right .page span,
.button2-left .blank a,
.button2-right .blank a,
.button2-left .blank span,
.button2-right .blank span { padding: 0 6px; }

.page span,
.blank span {
    color: #000;
    font-weight: bold;
}

.button2-left a:hover,
.button2-right a:hover { text-decoration: none; color: #0B55C4; }

.button2-left a,
.button2-left span { padding: 0 24px 0 6px; }

.button2-right a,
.button2-right span { padding: 0 6px 0 24px; }

.button2-left { background: url(../images/j_button2_left.png) no-repeat; float: left; margin-left: 5px; }

.button2-right { background: url(../images/j_button2_right.png) 100% 0 no-repeat; float: left; margin-left: 5px; }

.button2-right .prev { background: url(../images/j_button2_prev.png) no-repeat; }

.button2-right.off .prev { background: url(../images/j_button2_prev_off.png) no-repeat; }

.button2-right .start { background: url(../images/j_button2_first.png) no-repeat; }

.button2-right.off .start { background: url(../images/j_button2_first_off.png) no-repeat; }

.button2-left .page,
.button2-left .blank { background: url(../images/j_button2_right_cap.png) 100% 0 no-repeat; }

.button2-left .next { background: url(../images/j_button2_next.png) 100% 0 no-repeat; }

.button2-left.off .next { background: url(../images/j_button2_next_off.png) 100% 0 no-repeat; }

.button2-left .end { background: url(../images/j_button2_last.png) 100% 0 no-repeat; }

.button2-left.off .end { background: url(../images/j_button2_last_off.png) 100% 0 no-repeat; }

.button2-left .image 		{ background: url(../images/j_button2_image.png) 100% 0 no-repeat; }
.button2-left .readmore 	{ background: url(../images/j_button2_readmore.png) 100% 0 no-repeat; }
.button2-left .pagebreak 	{ background: url(../images/j_button2_pagebreak.png) 100% 0 no-repeat; }
.button2-left .blank	 	{ background: url(../images/j_button2_blank.png) 100% 0 no-repeat; }

/* Tooltips */
.tool-tip {
    float: left;
    background: #ffc;
    border: 1px solid #D4D5AA;
    padding: 5px;
    max-width: 200px;
    z-index: 50;
}

.tool-title {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: bold;
    margin-top: -15px;
    padding-top: 15px;
    padding-bottom: 5px;
    background: url(../images/selector-arrow.png) no-repeat;
}

.tool-text {
    font-size: 100%;
    margin: 0;
}

/* Calendar */
a img.calendar {
    width: 16px;
    height: 16px;
    margin-left: 3px;
    background: url(../images/calendar.png) no-repeat;
    cursor: pointer;
    vertical-align: middle;
}

/* System Standard Messages */
#system-message dd.message ul { background: #C3D2E5 url(../images/notice-info.png) 4px center no-repeat;}

/* System Error Messages */
#system-message dd.error ul { color: #c00; background: #E6C0C0 url(../images/notice-alert.png) 4px top no-repeat; border-top: 3px solid #DE7A7B; border-bottom: 3px solid #DE7A7B;}

/* System Notice Messages */
#system-message dd.notice ul { color: #c00; background: #EFE7B8 url(../images/notice-note.png) 4px top no-repeat; border-top: 3px solid #F0DC7E; border-bottom: 3px solid #F0DC7E;}

#menu_timesheet div {
    background-repeat: no-repeat;
    height: 134px;
    width: 112px;
    border: 6px solid #F0F0F0;
    float:left;
    margin-right: 10px;
}

#contentMenuClients{
    background-image: url(../images/clientes.jpg);
}

#contentMenuTypeCosts{
    background-image: url(../images/tipo_gastos.jpg);
}

#contentMenuCosts{
    background-image: url(../images/gastos.jpg);
}

#contentMenuCategory{
    background-image: url(../images/categorias.jpg);
}

#contentMenuProject{
    background-image: url(../images/proyectos.jpg);
}


#contentMenuCurrency{
    background-image: url(../images/conversiones.jpg);
}

#contentMenuImputation{
    background-image: url(../images/horas.jpg);
}

#contentMenuUser{
    background-image: url(../images/users.jpg);
}

#contentMenuReport{
    background-image: url(../images/reportes.jpg);
}

#contentMenuWorkinghours{
    background-image: url(../images/workinghours.jpg);
}

table.adminform td label{
    font-weight: bold;
}


#tableImputation{
    margin-top:15px;
}

#datosImputation{

    overflow: hidden;
}

.commentHours{
    float: none !important;
    margin-bottom: 10px;
    margin-top: 15px;
    width: 100% !important;
}

#category_table tr , #category_table tbody tr td, #tableIncomes tbody tr td, #tableIncomes tbody tr th,
#directExpenses tbody tr td, #directExpenses tbody tr th, #indirectExpenses tbody tr td, #indirectExpenses tbody tr th,
#internalCost tbody tr td, #internalCost tbody tr th, #otherOperatingExpenses tbody tr td, #otherOperatingExpenses tbody tr th,#cov tbody tr td, #cov tbody tr th, #noi tbody tr td, #noi tbody tr th,
#hoursUser tbody tr th, #tableUsers tbody tr th, #usersVacation tbody tr th, #hoursUserProject tbody tr th,
#cost-table tbody tr th, #project-table tbody tr th, #absence-table tbody tr th, #tableStaffing tbody tr th, table.adminlist tbody tr th
{ background: #f9f9f9; border: none;/*border-top: 1px solid #fff;*/ }

#category_table{margin-bottom:10px;}

#clientForm {
    color:#666666;
}

#datosImputation div, #selectCuadro label, #divYear label, #divMonth label{
    background-color: #F6F6F6;
    border-bottom: 1px solid #E9E9E9;
    border-right: 1px solid #E9E9E9;
    color: #666666;
    font-weight: bold;
    text-align: right;
    width: 190px;
    float:left;
    height:20px;
    margin-right: 5px;
    padding-top: 3px;
}

#client, #start_date, #end_date {
    margin-left: 0px;
}

#selectCuadro .inputbox, #divYear .inputbox {
    margin-left: 0px;
}

#selectCuadro, #divYear, #calendars, #divMonth {
    overflow:hidden;
}

#divMonth select {
    float:left;
}

#divYear{
    margin:1px;
}

#endMonth{
    margin-left:0px;
}

#divMonth{
    margin-bottom:0px;
}

.btnReport{
    border: -1px solid silver;
}


#datosImputation label {
    display: block;
    padding-top: 3px;
}

.imgState {
    width:15px;
    float:left;
}

#noi thead th{
    background-color: #ccccff;
}

#tableSelectReportImpute  .calendar {
    top:5px;
}

.trClientReport td, .trClientReport th{
    background-color: #f3f3f3 !important;
}


#month{
    width:69px;
}

#vacia{
    width:70px;
}

#total{
    width:50px;
}

#scorecardComplet .adminlist{
    width:auto;
}
#months {
    margin-bottom: 10px;
}

.trHoursTeam  th{
    max-width: 36px;
}

.inputHoursTeam {
    width: 20px;
    border: none;
}

.tdHoursTeam {
    background-color: #E5E5E5 !important;
}

div#team {
    max-height: 300px;
    overflow: auto;
}

input.disable {
    background: #ebebe4;
    border:1px solid #C0C0C0;
}

.profitability {
    width: 300px;
}
.bgOrange{
    background: #F2982F !important;
}
.bgGreen{
    background: #7AC047 !important;
}
.bgYellow{
    background: #F9EA40 !important;
}
.bgRed{
    background: #D13634 !important;
}
.bgGreen, .bgYellow, .bgRed{
    color: #443D3D !important;
}
#tableStaffing{
    border-collapse: collapse;
}
.end {
    background-color: rgba(255,0,0,0.5) !important;
}

.button2-left .end {
    background: url(../images/j_button2_last.png) 100% 0 no-repeat !important;
}

.link {
    cursor: pointer;
    font-weight: bold;
    color: #0B55C4;
    text-decoration: underline !important;
}
