.zaganchor {
font-size:18px;
color:#07406A;
}

.datetime {
color:#BFC1D0;
font-size:11px;
font-weight:bold;
}

.avatar-border {
width:100px;
}

.username {
font-size:14px;
color:#07406A;
}

.com {
font-size:14px;
color:#07406A;
}

.sumcom {
font-size:14px;
color:white;
font-weight:bold;
}

a div.button {
background-image:url(blog/button2.gif);
background-repeat:no-repeat;
height:24px;
width:105px;
color:#FFFFFF;
font-weight:bold;
font-size:14px;
padding-top:3px;
border:none;
background-color:#FFFFFF;
}

a:HOVER div.button {
background-image:url(blog/button2.gif);
background-repeat:no-repeat;
height:24px;
width:105px;
color:white;
font-size:14px;
padding-top:3px;
}

.avatar-border {
border:1px;
border-color:#B6B9CA;
border-style:solid;
}

.user-icon img {vertical-align:bottom;}

.back_comment_color {background-color:#FFFCF9;}

.sumcom{
background-image:none !important;
color:#93BC2C;
font-weight:bold;
}
