
/**
 * @package JobBoard
 * @copyright Copyright (c)2010 Tandolin
 * @license GNU General Public License version 2, or later
 */
#applcont {width: 100%}
#contleft {float: left; width: 73%}
#contright {float: right; width: 25%; clear: none;background-color:#F6F6F6; padding: 3px 3px 5px 8px; border: 1px solid #ddd}
.controw label { padding-left: 6% }
.controw input {float: right; margin-right:12%;padding-bottom:4px;}
.fieldreq {color: #cc0000; margin-left:5px; font-weight:normal}
.summtitle {color:#999;font-weight:bold}
#fslabel {padding-top: 2px; clear:both; margin-right: 12%; text-align: right}
.jsrow {color: #444; width: 100%;clear: both; padding-top: 3px; padding-bottom: 2px;border-bottom: 1px dotted #bbb}
.lrow {border-bottom: none }
 #loadr {margin-right:5px;padding-left: 18px;background:transparent url(../images/rnd_loader.gif) no-repeat scroll left}
 .hidel {visibility:hidden}
 .showel {visibility:visible}

/** Job type colouring **/

  .jsrow span.contract {
    background-color: #3B6284 !important;
    border: 2px solid #3B6284;
    color: white !important;
    text-shadow: rgba(0, 0, 0, 0.296875) 1px 1px 0px;
  }
  .jsrow span.internship {
    background-color: #D72F1D !important;
    border: 2px solid #D72F1D;
    color: white !important;
    text-shadow: rgba(0, 0, 0, 0.296875) 1px 1px 0px;
  }
  .jsrow span.full-time {
    background-color: #8CB90E !important;
    border: 2px solid #8CB90E;
    color: white !important;
    text-shadow: rgba(0, 0, 0, 0.296875) 1px 1px 0px;
  }
  .jsrow span.part-time {
    background-color: #E3A029 !important;
    border: 2px solid #E3A029;
    color: white !important;
    text-shadow: rgba(0, 0, 0, 0.296875) 1px 1px 0px;
  }
  .jsrow span.temporary {
    background-color: #97479E !important;
    border: 2px solid #97479E;
    color: white !important;
    text-shadow: rgba(0, 0, 0, 0.296875) 1px 1px 0px;
  }
  .jsrow span.other {
    background-color: #999999 !important;
    border: 2px solid #999999;
    color: #fff !important;
    text-shadow: rgba(0, 0, 0, 0.296875) 1px 1px 0px;
  }
  .jsrow span.jobtype  {
    font-family: 'Helvetica Neue', Georgia, Arial, Verdana, sans-serif;
    font-size: 10px;
	width: 90px;
    font-style: italic;
    font-weight:bold;
    background: url(../images/jt_ovr.png) repeat-x 50% 0%;
    border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    -moz-border-radius: 12px 12px 12px 12px;
    display: block;
    line-height: 1em !important;
    margin: 2px;
    padding: 2px 0px;
    text-align: center;
    vertical-align: middle;
	cursor:default;
  }