
/**
 * @package JobBoard
 * @copyright Copyright (c)2010 Tandolin
 * @license GNU General Public License version 2, or later
 */

.font{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 14px;
  font-weight: normal;
}
small, .small {
  font-size: 0.94em
}

.highlight {
	background: #FFFFCC;
    color:#000;
    font-weight:bold;
    font-style: italic;      
}
.button{
  cursor: pointer;
}
label {font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
font-size:11px;cursor:pointer;font-weight:bold}
.inputbox {padding-bottom:4px}
input text {padding:6px;}
ul .pagination{width: auto}

.uplrow {width: 100%; margin-top:0; padding: 0}
.controw {width: 100%; clear: both; padding-top: 5px; padding-bottom: 5px;cursor: default;}
.rowsep {margin-top: 10px; margin-right: 8%; clear: both; border-top: 1px solid #ddd; }
.anchor{
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-small;
  line-height: 18px;
  color: blue;
}
.text{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px; /*
  line-height: 14px;*/
  font-weight: normal;
  text-decoration: none;
}

a:link{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.textrtp{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  text-decoration: none;
}
.table{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 16px;
  font-weight: normal;
}
.greenbold{
  font-family: Georgia, Times New Roman, Times, serif;
  font-size: 14px;
  font-weight: bold;
  color: #556846;
  background-color: #E8EDE4;
}
#jobtable{
  width: 100%;
  padding: 9px 0 19px 0;
}
#jobtable table a:hover{
  color: #4991C3;
}
#jobtable table a.button:active a.button:hover{
  color:#fff;
text-decoration:none;
}
#jobtable table a:focus{
}
#jobtable table{
}
#jobtable table tr td{
  padding: 5px 9px 6px;
  text-align: left;
}
#jobtable table thead th{
  background: #fff;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #D9D9D9;
  font-weight: bold;
  text-align: left;
  padding: 16px 9px;
  color: #900;
  font-size: 12px;
}
#jobtable table tbody tr th{
  background-color: #fff;
  font-weight: normal;
  border-left: none;
  padding: 6px 9px;
}
#jobtable table tbody td{
  border: none;
}
#jobtable table tbody tr.odd{
  background-color: #F3F3F3;
}
#jobtable table tbody tr:hover{
  color: #333;
  background-color: #E5E5D8;
}
#jobtable table tbody tr.odd:hover{
  color: #333;
  background-color: #E5E5D8;
}
#jobtable table tfoot td,#jobtable table tfoot th{
  border-top: 1px solid #ccc;
  font-weight: bold;
  color: #592C16;
  padding: 16px 9px;
}
p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: 10px;
}
input, select, textarea{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  text-decoration: none;
  border: 1px solid #999;
  background-repeat: repeat-y;
}

a.button{
 /* background: rgb(50, 50, 50);  degrading - for browsers with no gradient support 
	background: -moz-linear-gradient(top, rgb(150, 150, 150), rgb(30, 30, 30));*/
	/*background: -webkit-gradient(linear, center top, center bottom, from(rgb(150, 150, 150)), to(rgb(30, 30, 30))); */

        /* IE gradient */
	/*filter: progid.DXImageTransform.Microsoft.gradient(startColorstr='#505050', endColorstr='#1e1e1e');*/

	border-top: 1px solid rgb(100, 100, 100);

        /* The following properties will be inherited by the other button states, so there's no need to repeat them */
	/*border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;*/
	padding: 5px 10px;
	/*text-shadow: 0 1px 1px rgb(0, 0, 0);*/
}
a.button:hover, a.button:focus {
   	/*background: rgb(77, 77, 77);  //degrading - for browsers with no gradient support 
	background: -moz-linear-gradient(top, rgb(77, 77, 77), rgb(20, 20, 20));*/
   /* 	background: -webkit-gradient(linear, center top, center bottom, from(rgb(70, 70, 70)), to(rgb(20, 20, 20)));

        IE gradient
	filter: progid.DXImageTransform.Microsoft.gradient(startColorstr='#464646', endColorstr='#141414');
                            */
	color: rgb(180, 160, 120);
	text-decoration: none;
    border: 1px solid #000;
    }
a.button:active {
   /* 	background: rgb(30, 30, 30); //degrading - for browsers with no gradient support
	background: -moz-linear-gradient(top, rgb(20, 20, 20), rgb(70, 70, 70));*/
   /*	background: -webkit-gradient(linear, center top, center bottom, from(rgb(20, 20, 20)), to(rgb(70, 70, 70)));

        /* IE gradient
	filter: progid.DXImageTransform.Microsoft.gradient(startColorstr='#141414', endColorstr='#464646');

	border-bottom: 1px solid rgb(0, 0, 0);
	border-top: none;                    */
	color: rgb(160, 140, 100);
	position: relative;
	top: 1px;
    border: 1px solid #000;
}