
/**
 * @package JobBoard
 * @copyright Copyright (c)2010 Tandolin
 * @license GNU General Public License version 2, or later
 */
#jobcont {width:100%; float:left}
#jobsumm {width:23%; float:left; clear: none; background-color:#F6F6F6; padding: 3px 3px 5px 8px; border: 1px solid #ddd}
.summtitle {color:#777;font-weight:bold}
#hitsumm {background-color:#F6F6F6; padding: 4px}
#hsback {width:auto; float: right; margin-right: 10px}
.hit {font-size:1.2em; font-weight:bold}
.jsrow {color: #333; width: 100%;clear: both; padding-top: 3px; padding-bottom: 2px;border-bottom: 1px dotted #bbb}
#jobdet {width:73%; float:right; clear: none;}
.lsretrn {float:left; clear:none; padding-right:15px}
.applbut {cursor: pointer;margin-bottom: 7px}
.sharetitl {margin-left: 40px; font-weight: bold}
.sharespan {margin-left: 7px}
.first {margin-left: 3px}
#divbottom {padding-top: 8px;}
#linkedin  {background:transparent url(../images/social_icons.png) no-repeat scroll -83px center;}
#facebook  {background:transparent url(../images/social_icons.png) no-repeat scroll -62px center;}
#twitter  {background:transparent url(../images/social_icons.png) no-repeat scroll 0 0;}
#twitter, #facebook, #linkedin  {float:left; clear: none; width: 17px; height: 16px; margin-right:10px}
#socialbtns {width: auto; float: right; height:65px; }
#socialbtns div {float: left; clear: none; display: inline; padding-left: 8px}
#socialbtns #jblishare  {vertical-align: bottom}
#socialbtns #litweet {vertical-align: bottom}

/** Job type colouring **/

  .jsrow span.contract {
    background-color: #3B6284 !important;
    border: 2px solid #3B6284;
    color: white !important;
    text-shadow: rgba(0, 0, 0, 0.296875) 1px 1px 0px;
  }
  .jsrow span.internship {
    background-color: #D72F1D !important;
    border: 2px solid #D72F1D;
    color: white !important;
    text-shadow: rgba(0, 0, 0, 0.296875) 1px 1px 0px;
  }
  .jsrow span.full-time {
    background-color: #8CB90E !important;
    border: 2px solid #8CB90E;
    color: white !important;
    text-shadow: rgba(0, 0, 0, 0.296875) 1px 1px 0px;
  }
  .jsrow span.part-time {
    background-color: #E3A029 !important;
    border: 2px solid #E3A029;
    color: white !important;
    text-shadow: rgba(0, 0, 0, 0.296875) 1px 1px 0px;
  }
  .jsrow span.temporary {
    background-color: #97479E !important;
    border: 2px solid #97479E;
    color: white !important;
    text-shadow: rgba(0, 0, 0, 0.296875) 1px 1px 0px;
  }
  .jsrow span.other {
    background-color: #999999 !important;
    border: 2px solid #999999;
    color: #fff !important;
    text-shadow: rgba(0, 0, 0, 0.296875) 1px 1px 0px;
  }
  .jsrow span.jobtype  {
    font-family: 'Helvetica Neue', Georgia, Arial, Verdana, sans-serif;
    font-size: 10px;
	width: 90px;
    font-style: italic;
    font-weight:bold;
    background: url(../images/jt_ovr.png) repeat-x 50% 0%;
    border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    -moz-border-radius: 12px 12px 12px 12px;
    display: block;
    line-height: 1em !important;
    margin: 2px;
    padding: 2px 0px;
    text-align: center;
    vertical-align: middle;
	cursor:default;
  }
  
 /** Job Tags/Keywords */
.jtspan{font-family:"Helvetica Neue",Helvetica,Arial,Verdana,sans-serif; font-style:italic} 
.jtlabel{font-weight:bold; font-style:italic}