/**
 * @package JobBoard
 * @copyright Copyright (c)2010 Tandolin
 * @license GNU General Public License version 2, or later
 */

div.c3 {text-align: right;}
div.c2 {float: right; text-align: right; width: 50%;}
div.c1 {float: left; text-align: left; width: 50%;}
#listWrapper{padding-bottom: 5px; margin-left: 19px;}
.catitem {font-weight: normal;}
.headbg {background-color: #dddddd; font-size: 1.1em; -moz-border-radius: 4px; -webkit-border-radius: 4px;}
#unsolLink{margin-left: 10px;}
#listSort{width: 65%;}
#filtrsubmit{margin-top: 8px;}
#topSubmitCV{font-size: 0.86em;}
.bgwhite {background-color: #ffffff;}
.bggrey {background-color: #F3F3F3;}
.jtitle {font-weight: bold; text-decoration: none; border: none;}
#feedarea {padding-top: 6px; font-size: 0.9em; width: 100%; clear: both; text-align: center !important;}
.feedicon {padding-left: 19px; background: transparent url(../images/social_icons.png) no-repeat scroll -105px center;}
.sFeedicon {padding-left: 17px !important; background: transparent url(../images/feed_s.png) no-repeat scroll 0 top;}
.pagination {float: right; clear: both; border: none; font-size: 0.94em; margin-right: 4%; font-weight: bold;}
.listView {text-decoration: none; margin-right: 1px; padding: 0; padding-left: 15px!important; height: 15px; background: transparent url(../images/layout_sprite.png) no-repeat scroll -16px 0;}
.listView:hover {text-decoration: none; background-position: -16px -16px;}
.tableView {text-decoration: none; margin-right: 1px; padding: 0; padding-left: 15px!important; height: 15px; background: transparent url(../images/layout_sprite.png) no-repeat scroll 0 0;}
.tableView:hover {text-decoration: none; background-position: 0 -16px;}
#jobtable div {width: 100%;}
#jobtable ul li {list-style-type: none; background: transparent;}
#jobtable ul .SummaryRow{list-style-type: none; background: transparent; border-bottom: 1px dotted #777;}
#jobtable ul .secondLast{border-bottom: none;}
#jobtable ul .lastRow{padding-top: 10px; margin-left: 15%;}
#jobtable ul li .button{margin-top: 5px;}
.sup {margin-left: -18px; padding-left: 18px; background: transparent url(../images/list_arrow_up.png) no-repeat scroll left;}
.sdown {margin-left: -18px; padding-left: 18px; background: transparent url(../images/list_arrow_down.png) no-repeat scroll left;}
.plusmargn {margin-left: 0;}
#jobsearch, #keysrch, #locsrch {width: 100px; margin-right: 5px;}
#drcapt {margin-left: 10px;}
.filterset {float: left; clear: none; width: auto; margin-left: 19px; padding-bottom: 7px;}
.inputovr {color: #aaa; font-size: .9em;}
#loadr {margin-left: 5px; padding-left: 18px; background: transparent url(../images/rnd_loader.gif) no-repeat scroll left;}
.hidel {visibility: hidden;}
.showel {visibility: visible;}
.botpagi {padding-top: 7px;}

/** Job type colouring **/

  span.contract {
    background-color: #3B6284 !important;
    border: 2px solid #3B6284;
    color: white !important;
    text-shadow: rgba(0, 0, 0, 0.296875) 1px 1px 0px;
  }
  span.internship {
    background-color: #D72F1D !important;
    border: 2px solid #D72F1D;
    color: white !important;
    text-shadow: rgba(0, 0, 0, 0.296875) 1px 1px 0px;
  }
  span.full-time {
    background-color: #8CB90E !important;
    border: 2px solid #8CB90E;
    color: white !important;
    text-shadow: rgba(0, 0, 0, 0.296875) 1px 1px 0px;
  }
  span.part-time {
    background-color: #E3A029 !important;
    border: 2px solid #E3A029;
    color: white !important;
    text-shadow: rgba(0, 0, 0, 0.296875) 1px 1px 0px;
  }
  span.temporary {
    background-color: #97479E !important;
    border: 2px solid #97479E;
    color: white !important;
    text-shadow: rgba(0, 0, 0, 0.296875) 1px 1px 0px;
  }
  span.other {
    background-color: #999999 !important;
    border: 2px solid #999999;
    color: #fff !important;
    text-shadow: rgba(0, 0, 0, 0.296875) 1px 1px 0px;
  }
  .jobsnippet span.jobtype {
    font-family: 'Helvetica Neue', Georgia, Arial, Verdana, sans-serif;
    font-size: 10px;
	width: 85px;
    font-style: italic;
    font-weight:bold;
    background: url(../images/jt_ovr.png) repeat-x 50% 0%;
    border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    -moz-border-radius: 12px 12px 12px 12px;
    display: block;
    line-height: 1em !important;
    margin: 2px;
    padding: 2px 0px;
    text-align: center;
    vertical-align: middle;
	cursor:default;
  }