/* CSS Document */


a#active_menu { 
    color: #93BC2C; 
    font-weight: bold; 
}

a#active_menu:hover { 
    color: #000; 
    text-decoration: none; 
}

a:hover { 
    color: #333; 
    text-decoration: none; 
    /*text-decoration: underline;*/ 
}

a.blogsection:link, a.blogsection:visited { 
    color: #FF9900; font-family: Arial, verdana, sans-serif; 
    font-weight: normal; 
    text-decoration: none; 
}

a.category:link, a.category:visited { 
    color: #93BC2C; 
}

a.category:hover { color: #93BC2C; 
}

a.mainlevel:link, a.mainlevel:visited { 
    border-bottom: 1px solid #EFEDED; 
    color: #999; 
    display: block; 
    font-family: Arial, verdana, sans-serif; 
    font-size: 12px; 
    letter-spacing: 0px; 
    line-height: 18px; 
    padding-bottom: 2px; 
    padding-top: 2px; 
    text-align: right; 
    text-decoration: none; 
}

a.mainlevel:hover { 
    background-color: #fafafa; 
    color: #333; 
}

a.readon:link, a.readon:visited { 
    background-image: url(../images/read.gif); 
    background-position: left; 
    background-repeat: no-repeat; 
    color: #93BC2C; 
    font-family: Arial, verdana, sans-serif; 
    line-height: 13px; 
    padding-left: 13px;
    font-size: 11px;  
}

a.readon:hover { 
    color: #93BC2C; 
    text-decoration: none; 
}

a.sublevel:link, a.sublevel:visited { 	
    background-image: url(../images/sub.png);
    background-position: right;
    background-repeat: no-repeat;
    border-bottom: 1px solid #fafafa; 
    color: #000000; 
    display: block; 
    font-family: Arial, verdana, sans-serif; 
    font-size: 11px; 
    line-height: 18px; 
    padding-bottom: 2px; 
    padding-top: 2px; 
    text-align: right; 
    text-decoration: none; 
    text-indent: 25px;
    padding-right:10px;
}

a.sublevel:hover { 
    color: #C0C0C0; 
    text-decoration: none;
}

a.weblinks:link, a.weblinks:visited { 
    color: #FF9900; 
    font-weight: normal; 
    text-decoration: none; 
}

a:link, a:visited { 
    color: #93BC2C; 
    text-decoration: none; 
}

a.blogsection:hover, a.weblinks:hover { 
    color: #999999; 
    text-decoration: underline; 
}

body { 
    background-color: #fff; 
    margin: 0px; 
    padding: 0px; 
}

img { 
    border: 0px; 
    border-color: #ccc; 
    border-style: solid;
    position: relative;
}

.img_border { 
    border: 1px; 
    border-color: #ccc; 
    border-style: solid;
}

input.inputbox#mod_login_username, input.inputbox#mod_login_password { 
    background-color: #fff; 
    background-image: url(../images/back_main.jpg); 
    border: 1px; 
    border-color: #ccc; 
    border-style: solid; 
    color: #ccc; 
    font-family: Verdana, Arial, sans-serif; 
    font-size: 11px; 
    margin-bottom: 2px; 
    margin-top: 2px; 
    width: 160px; 
}

input.inputbox#mod_search_searchword{ 
    background-color: #F9FDEB; 
    border: 1px solid #ccc; 
    color: #666; 
    font-family: Verdana, Arial, sans-serif; 
    font-size: 11px; 
    margin-top: 10px; 
    width: 200px; 
}

input.inputbox, textarea.inputbox { 
    background-color: #fff; 
    background-image: url(../images/back_main.jpg); 
    border: 1px; 
    border-color: #ccc; 
    border-style: solid; 
    color: #666666; 
    font-family: Verdana, Arial, sans-serif; 
    font-size: 11px; 
}

input.inputbox{
    height: 16px;
    width: 130px;
}

input.inputbox2{
    height: 16px;
    width: 40px;
}

td,tr,p,div { color: #999; 
              font-family: Arial, verdana, sans-serif; 
              font-size: 12px; 
              letter-spacing: 0.5px; 
              line-height: 18px; 
}

ul { margin: 0px; 
     padding: 0px; 
}

.button { background-color: #F5F5F5; 
          border: 1px solid #CBCBCB; 
          color: #000000; 
          font-size: 11px; 
}

.button:hover { 
    color: #FF8C00; 
}

/** category text format and links **/
.category { 
    color: #FF8C00; 
    text-decoration: none; 
}

.componentheading { 
    color: #999; 
    font-family: 'Lucida Grande','Lucida Sans Unicode','Trebuchet MS',arial,verdana,sans-serif;font-size: 20px; 
    font-weight: normal; 
    letter-spacing: -1px; 
    margin: 0px; 
    padding-bottom: 20px; 
    width: 100%
        text-transform: uppercase; 
}

.contentdescription { 
}

.contentheading { 
    border-bottom: 1px dashed #ededed; 
    color: #B6E449; font-family: 'Lucida Grande','Lucida Sans Unicode','Trebuchet MS',arial,verdana,sans-serif; 
    font-size: 20px; font-weight: normal; 
    letter-spacing: -1px; margin: 0px; 
    padding-bottom: 5px; width: 100%; 
}

.contentheading-comp {
    color: #999; 
    font-family: 'Lucida Grande','Lucida Sans Unicode','Trebuchet MS',arial,verdana,sans-serif;font-size: 20px; 
    font-weight: normal; 
    letter-spacing: -1px; 
    margin: 0px; 
    padding-bottom: 10px; 
    width: 100%
        text-transform: uppercase; 
}

.contentpane, .contentpaneopen { 
    width: 100%; 
}

/* Content - Sections & Categories */
.createdate { 
    color: #708090; 
    font-family: Verdana, Arial, sans-serif; 
    font-size: 10px; font-weight: normal; 
    text-decoration: none; 
}

.modifydate { 
    color: #fb7000; 
    font-family: Verdana, Arial, sans-serif; 
    font-size: 10px; 
    font-weight: normal; 
    text-decoration: none; 
}

.details { 
    background-color: #FFFFFF; 
    background-image: url(../images/read.gif); 
    background-position: left; 
    background-repeat: no-repeat; 
    color: #FF6347; 
    font-family: Verdana, Arial, sans-serif; 
    font-size: 11px; 
    line-height: 20px; 
    padding-left: 20px; 
}

.headings { 
    color: #93b312; 
    font-family: Verdana, Arial, sans-serif; 
    font-size: 23px; 
    letter-spacing: -1px; 
}

.moduletable { 
    padding-bottom: 35px; 
    text-align: right; 
    width: 200px; 
}

.moduletable h3 { 
    color: #999; 
    font-family: 'Lucida Grande','Lucida Sans Unicode','Trebuchet MS',arial,verdana,sans-serif;
    font-size: 16px; 
    font-weight: normal; 
    letter-spacing: -1px; 
    margin: 0px; 
    padding-bottom: 5px; 
    text-align: right; 
}

.moduletable td { 
    font-size: 11px; 
    text-align: right; 
}

.moduletable-main li, li, .moduletable li { 
    list-style: none; 
}

.quote, .quote2 { 
    color: #999; 
    font: oblique 135%/155% georgia, times, serif; 
    font-size: 15px; 
    margin: 0 auto; 
}

.sectiontableentry1 { }
.sectiontableentry2 { }
.sectiontableheader { 
    color: #666; 
    font-weight: normal; 
    padding-bottom: 15px; 
    padding-top: 7px; 
}

.small, .smalldark { 
    color: #666; 
    font-family: Verdana, Arial, sans-serif; 
    font-size: 10px; 
    font-weight: normal; 
    text-decoration: none; 
}

.subheadings { 
    color: #6991A0; 
    font-family: Verdana, Arial, sans-serif; 
    font-size: 16px; 
    line-height: 25px; 
}
.contentGeneral {
    margin: 0 auto;
    /*    overflow: hidden;*/
    width: 95%;
}
.header {
    float: left;
    height: 115px;
    width: 100%;
}
#body { 
    /*left: 250px; */
    /*position: absolute; */
    /*top: 130px; */
    float: left;
    width: 56%;
}

#body li{ 
    list-style: square; 
    list-style-position: inside; 
}

#header { 
    background-image: url(../images/feature.jpg); 
    background-position: top; 
    background-repeat: no-repeat; 
    height: 510px; left: 600px; 
    position: absolute; 
    top: 20px; 
    width: 369px; 
}

#menu { 
    left: 20px; 
    position: absolute; 
    top: 130px; 
    width: 200px; 
}

#top { 
/*    background-image: url("../images/top.gif");
    background-position: center center;
    background-repeat: no-repeat;*/
    color: #00537F;
    float: left;
    font-family: CordiaUPC;
    font-size: 72px;
    font-weight: normal;
    height: 36%;
    padding: 45px;
    width: 74%;
}

.idioma { 
    margin-right: 15px;
}


.idioma a:link { 
    color: #999999; 
    text-decoration: none; 
}

.idioma a:visited { 
    color: #999999; 
    text-decoration: none; 
}

#div_izq {
    height:232px;
    width:416px;
    position:relative;
    float:left;
}

#div_der {
    height:143px;
    width:170px;
    position:relative;
    float:left;
    margin-top:34px;

}
#div_izq2 {
    height:175px;
    width:194px;
    position:relative;
    float:left;
    margin-top:39px;
}

#div_der2 {
    height:213px;
    width:394px;
    position:relative;
    float:left;

}
#left_intranet {
    float: left;
    margin: auto 20px auto 0;
    text-align: justify;
/*    width: 42%; con modulo*/
    width: 14.2%;
}
#right_intranet{
    float: right;
    text-align: justify;
    width: 25%;
}

#title_last_blog{
    color:#93BC2C;
    font-weight:bold;
}

#title_write_blog {
    color:#93BC2C;
    font-weight:bold;
    margin-bottom:15px;
    display:block;
}

#table_tags {
    display:none;
}

.zaganchor{
    color:#93BC2C !important;
}

.defaultSkin table.mceLayout{
    margin-top:20px;
}

#btn_frm_blog{
    margin-top:40px;
    text-align:right;
    margin-bottom:25px;
}

.btnBlog {
    background: #00537C;
    border-style: none;
    color: #FFFFFF !important;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    margin: 5px;
    outline-width: 0;
}
.btnBlog input {
    background-color: #00537C;
    border: medium none;
    color: #FFFFFF !important;
    cursor: pointer;
    margin: 0;
    padding: 0 10px;
}

#read_more_blog{
    margin-left:20px;
    font-family:Arial,verdana,sans-serif;
    font-size:11px;
}


#Kunena div.kwhoisonline div.kheader, #Kunena div.kfrontstats div.kheader , #Kunena .klist-actions{
    display:none !important;
}

.left_intranet img{
    float:right;
}

.left_intranet div{
    height:25px;
}

/******************************** para estilos de columna right ********************/

#last_blog_r h1{
    color:#cccccc;
    font-size:20px;
    margin: 0px 0px 10px;
}

#last_news_r{
    margin-top:20px;
    border-top:#cccccc solid 1px;
    padding-top:20px;

}

#last_news_r h1{
    color:#cccccc;
    font-size:20px;
}

#left table{
    display:none;
}

#left #form-login{
    float:left;
    margin-left:91px;
    margin-top:15px;
}

.blog{
    width:100%;
}

#read_more{
    display:block;
    padding-bottom:10px;
    text-align:right;
}



#datosCost{
    float:left;
    margin-top: 10px;

}

#frm_impute #datosCost{
    width:300px;
}

#datosCostLong{
    width:350px;
    float:left;
}

#filasCost{
    height: 35px;
    width: 700px;
}

#datosCost div {
    float: left;
    font-weight: bold;
    width: auto;
    margin-right: 5px;
}

#datosCostLong div {
    float: left;
    width: 120px;
}

#filasCostDesc{
    height: 220px;
    width: 700px;
    margin-top: 15px;
    font-weight: bold;
}

#botonesCostos{
    width: 540px;
    float: left;
    margin-right: 125px;
    margin-bottom: 20px;
}

#botonesCostos div{
    width: 170px;
    float:left;
}

#botonesCostos div input{
    float: left;
    width: 80px;
}

#botonesCostos div{
    float: left;
    width: 115px;
}

#encabezadoCostosGrid, #encabezadoImputeGridId, #tableImpute th, #tableComments th{
    background-color: #DDDDDD;
    /*width: 150px;*/
    color:#00537C;
}

#encabezadoCostosData{
    background-color: #DDDDDD;
    width: 200px;
    color:#00537C;
    font-weight: bold;
}

#encabezadoCostosGridId{
    background-color: #DDDDDD;
    /*width: 70px;*/
    color:#00537C;
}

#encabezadoCostosGridDatos, #encabezadoImputeGridDatos{
    background-color: #EEEEEE;
    color:#706F6E;
}

.adminlistCost{
    border:none;
    width: 100%;
}


.adminlistCost a:link, .adminlistCost a:visited {
    color: #00537C;
    text-decoration: none;
}

.btnBlog a {
    background-color: #00537C;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: normal;
    padding: 2px 16px 1px 17px;
}

#btnGridCost{
    height: 15px;
    padding-top: 10px;
}

#btnGridCost span, #btnGridImputeHour span{
    float:right;
}

#imgGridCost{
    background-image: url(../images/gastos.jpg);
    height: 92px;
}

#imgGridImputacion{
    background-image: url(../images/imputacionHoras.jpg);
    height: 92px;
}

#imgGridEdicionImputacion{
    background-image: url(../images/edicionImputacionHoras.jpg);
    height: 92px;
}

#frm_cost{
    margin-top: 20px;
}

#imgGridCostEdit{
    background-image: url(../images/editarGastos.jpg);
    background-repeat: no-repeat;
    height: 92px;
}

#datosCost input{
    color:#000;
}

#filasCosts {
    overflow: hidden;
    margin-bottom: 5px;
}

#datosCostProy div {
    float: left;
    font-weight: bold;
    margin-right: 5px;
    width: auto;
}

#datosCostsArch div{
    float: left;
    width: 160px;
    font-weight: bold;
}

.MultiFile-label{
    margin-left: -160px;
    margin-top: 15px;
    width: 380px !important;
}

#tableUsersSelected a{
    color:#706F6E;
}

#trhiProject, #trhiAbsences, #view_comments {
    cursor: pointer;
}

#view_comments{
    width:150px;
    color: #00537C;
    text-decoration: underline
}

.list-footer{
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
}

.list-footer div select {
    margin-left: 15px;
    border: 1px solid silver;
    font-size: 11px;
}

table.adminlistCost tfoot td, table.adminlistCost tfoot th {
    background-color: #F3F3F3;
    border-top: 1px solid #999999;
    text-align: center;
}

#filasCosts div div {
    font-weight: bold;
}

#datosCostProy input {
    width: auto;
}
#datosCostProy select {
    width: 90px;
}

.commentCost {
    font-weight:bold;
}


#frm_impute #datosCosts div {
    float: left;
    width: 160px;
}

#frm_impute #datosCost div {
    float: left;
    width: 170px;
}


#frm_impute #datosCosts #start_date{
    margin-left:5px;
}

#frm_impute .tableImputeHour{
    width:100% !important;
}

#datosCost #date_cost_img{
    top:5px;
    margin-right: 20px;
}

#datosCost #project{
    min-width:132px;
}

#imgState{
    width:60px !important;
    text-align: center;
}

.tableImputeHour #tableImpute tr{
    background-color: #F9F9F9;
}

.tableImputeHour #tableImpute #inputHours{
    text-align: center;
    width: 100%;
}

#tableImpute {
    width:100%;
}

#botonesCosts, #botonesCostos{
    text-align: center;
    width: 100%;
}

input.des{
    background-color: #F0F0F0;
}

/**ESTILOS POST WORDPRESS*/
.postdate{
    font-size: 11px;
    font-style: italic;
}
.borderblue{
    border-bottom: 13px solid #00537F;
    color: #00537F;
    font-size: 30px;
    font-weight: normal;
    line-height: 48px;
    margin: 5px 0 20px;
}

.menuImput {
    float: right;
}
.menuImput a.mainlevel:link, a.mainlevel:visited{
    width: 124px !important; 
    float: left;
    padding-right: 10px !important;
    border-right: 1px solid #EFEDED !important;
}