.icon-32-cancel_f2 {
  background-image: url('../images/cancel_f2.png');
}

.icon-32-install {
  background-image: url('../images/install.png');
}

.icon-32-uninstall {
  background-image: url('../images/uninstall.png');
}

.icon-32-upgrade {
  background-image: url('../images/upgrade.png');
}

.icon-32-delete_f2 {
  background-image: url('../images/delete_f2.png');
}

.icon-32-import {
  background-image: url('../images/reload_f2.png');
}

.icon-32-export {
  background-image: url('../images/download_f2.png');
}
