.datediv {
float: right; padding-top: 18px; width: 117px; text-align: left;
padding-right:15px;
}

.divzag {
margin-left: 15px; margin-right: 15px; width: 530px; padding-top: 12px;
}

.datetime {font-size:11px;
color:#8f8f8f
}

.zaganchor {
font: 22px Tahoma, Arial, Verdana;
color:#ff7902;
text-decoration:none;
}

.zaganchor:HOVER {
text-decoration:underline;
}

.content {
margin-left: 15px; margin-right: 15px;
font: 12px Verdana;
color:#595959;
}

.avatar-border { float: right;
width: 100px;
border: 1px solid #C7C7C7;
 display: table;
 padding: 5px;
 margin-left:15px;
 margin-bottom:15px;
 text-align:center;
}

.avatar-border-comment { float: right;
width: 50px;
border: 1px solid #C7C7C7;
 display: table;
 padding: 5px;
 margin-left:15px;
 margin-bottom:15px;
 text-align:center;
}

.probel {width:10px;
height:120px;
float:right;
}

.mytags {
margin-left: 15px; margin-right: 15px;
}

.h3 {
font-size:32px;
font-weight:bold;
}

.bold0 {
font-weight:none;
}

.bold1 {
font-weight:bold;
font-size:16px;
font-style:italic;
}

.back_comment_color {background-color:#FFFCF9;}