.user-icon {text-align:center}

.avatar-border { float: right;
width: 100px;
border: 1px solid #C7C7C7;
 display: table;
 padding: 5px;
 margin-left:15px;
 margin-bottom:15px;
 text-align:center;
}

.avatar-border-comment { float: right;
width: 50px;
border: 1px solid #C7C7C7;
 display: table;
 padding: 5px;
 margin-left:15px;
 margin-bottom:15px;
 text-align:center;
}

.user-icon img {vertical-align:bottom;}

.back_comment_color {background-color:#FFFCF9;}

.background_comments {background-color:#FEF7D8;}