/*
// "SimpleBox", a Lightbox clone by JoomlaWorks - Version 1.0
// Copyright (c) 2006 - 2010 JoomlaWorks Ltd. All rights reserved.
// Released under the GNU/GPL license: http://www.gnu.org/copyleft/gpl.html
// More info at http://www.joomlaworks.gr
// Designed and developed by the JoomlaWorks team
// *** Last update: April 10th, 2008 ***
*/

/* SimpleBox */
#jwSBoverlay { position:absolute; top:0; left:0; margin:0; padding:0; width:100%; height:100%; z-index:1000100; }
#jwSBcontainer { background:#000; width:100%; height:100%; position:fixed; top:0; left:0; z-index:1000110; opacity:0.7; -moz-opacity:0.7; filter:alpha(opacity=70); margin:0; padding:0; border:none; }
#jwSBcontainer a,
#jwSBcontainer a:hover { display:block; width:100%; height:100%; background:none; text-decoration:none; margin:0; padding:0; border:none; }
#jwSBcontent { background:#060606 url(images/loading.gif) no-repeat 50% 50%; top:50%; left:50%; padding:8px; position:fixed; z-index:1000120; }
#jwSBcontent a#jwSBclose,
#jwSBcontent a#jwSBclose:hover { position:absolute; right:0; top:0; display:block; width:28px; height:28px; background:url(images/close.png) no-repeat 0 0; float:right; text-align:right; margin:0; padding:0; text-decoration:none; }
#jwSBcontent a img { border:none; margin:0; padding:0; }
#jwSBcontent a#jwSBimage,
#jwSBcontent a#jwSBimage:hover { border:none; display:block; width:100%; height:100%; margin:0; padding:0; }
#jwSBcontent span#sbcaption { font-size:11px; font-weight:bold; color:#fff; position:absolute; left:0; bottom:30px; display:block; background:#000; display:block; margin:8px; padding:8px; opacity:0.8; -moz-opacity:0.8; filter:alpha(opacity=80); z-index:1000130; }
