/* MultiBox v1.3 */
.MultiBoxContainer { position:absolute; border:8px solid #000; background-color:#fff; display:none; z-index:2; text-align:left; }
.MultiBoxLoading { background:url(images/loader.gif) no-repeat center; }
.MultiBoxContent { position:relative; width:100%; height:100%; overflow:hidden; }
.MultiBoxClose { position:absolute; top:-16px; right:-16px; background:url(images/close.png) no-repeat; width:24px; height:24px; cursor:pointer; }
.MultiBoxControlsContainer { overflow:hidden; height:0; position:relative; }
.MultiBoxControls { width:100%; height:auto; position:relative; background-color:#000; }
.MultiBoxPrevious { position:absolute; background:url(images/left.png) no-repeat; width:24px; height:24px; left:0; top:4px; margin-top:5px; cursor:pointer; }
.MultiBoxNext { position:absolute; background:url(images/right.png) no-repeat; width:24px; height:24px; right:0; top:4px; margin-top:5px; cursor:pointer; }
.MultiBoxNextDisabled { cursor:default; background:url(images/rightDisabled.png) no-repeat; }
.MultiBoxPreviousDisabled { cursor:default; background:url(images/leftDisabled.png) no-repeat; }
.MultiBoxTitle { position:relative; margin:12px 24px 0; padding:8px; color:#fff; font-weight:bold; text-align:left; }
.MultiBoxNumber { position:relative; margin:0 24px; padding:0 8px 16px; color:#fff; text-align:left; }
.MultiBoxDescription { clear:left; position:relative; color:#fff; text-align:left; }