/* CSS Document */

a#active_menu { 
color: #93BC2C; 
font-weight: bold; 
}

a#active_menu:hover { 
color: #000; 
text-decoration: none; 
}

a:hover { 
color: #333; 
text-decoration: none; 
/*text-decoration: underline;*/ 
}

a.blogsection:link, a.blogsection:visited { 
color: #FF9900; font-family: Arial, verdana, sans-serif; 
font-weight: normal; 
text-decoration: none; 
}

a.category:link, a.category:visited { 
color: #FFA500; 
}

a.category:hover { color: #FF9900; 
}

a.mainlevel:link, a.mainlevel:visited { 
border-bottom: 1px solid #EFEDED; 
color: #999; 
display: block; 
font-family: Arial, verdana, sans-serif; 
font-size: 12px; 
letter-spacing: 0px; 
line-height: 18px; 
padding-bottom: 2px; 
padding-top: 2px; 
text-align: right; 
text-decoration: none; 
width: 200px; 
}

a.mainlevel:hover { 
background-color: #fafafa; 
color: #333; 
}

a.readon:link, a.readon:visited { 
background-image: url(../images/read.gif); 
background-position: left; 
background-repeat: no-repeat; 
color: #FE5603; 
font-family: Arial, verdana, sans-serif; 
line-height: 13px; 
padding-left: 13px;
font-size: 11px;  
}

a.readon:hover { 
color: #FF9900; 
text-decoration: none; 
}

a.sublevel:link, a.sublevel:visited { 	
background-image: url(../images/sub.png);
background-position: right;
background-repeat: no-repeat;
margin-right: 16px;
border-bottom: 1px solid #fafafa; 
color: #666666; 
display: block; 
font-family: Arial, verdana, sans-serif; 
font-size: 11px; 
line-height: 18px; 
padding-bottom: 2px; 
padding-top: 2px; 
padding-right:12px;
text-align: right; 
text-decoration: none; 
text-indent: 25px; 
margin-top: -12px;
}

a.sublevel:hover { 
color: #C0C0C0; 
text-decoration: none; 
}

a.weblinks:link, a.weblinks:visited { 
color: #FF9900; 
font-weight: normal; 
text-decoration: none; 
 }

a:link, a:visited { 
color: #FE5603; 
text-decoration: none; 
 }

a.blogsection:hover, a.weblinks:hover { 
color: #999999; 
text-decoration: underline; 
 }

body { 
background-color: #fff; 
margin: 0px; 
padding: 0px; 
}

img { 
border: 0px; 
border-color: #ccc; 
border-style: solid;
}

.img_border { 
border: 1px; 
border-color: #ccc; 
border-style: solid;
}

input.inputbox#mod_login_username, input.inputbox#mod_login_password { 
background-color: #fff; 
background-image: url(../images/back_main.jpg); 
border: 1px; 
border-color: #ccc; 
border-style: solid; 
color: #ccc; 
font-family: Verdana, Arial, sans-serif; 
font-size: 11px; 
margin-bottom: 2px; 
margin-top: 2px; 
width: 160px; 
}

input.inputbox#mod_search_searchword{ 
background-color: #F9FDEB; 
border: 1px solid #ccc; 
color: #666; 
font-family: Verdana, Arial, sans-serif; 
font-size: 11px; 
margin-top: 10px; 
width: 200px; 
}

input.inputbox, textarea.inputbox { 
background-color: #fff; 
background-image: url(../images/back_main.jpg); 
border: 1px; 
border-color: #ccc; 
border-style: solid; 
color: #666666; 
font-family: Verdana, Arial, sans-serif; 
font-size: 11px; 
}

td,tr,p,div { color: #999; 
font-family: Arial, verdana, sans-serif; 
font-size: 12px; 
letter-spacing: 0.5px; 
line-height: 18px;
}

ul { margin: 0px; 
padding: 0px; 
}

.button { background-color: #F5F5F5; 
border: 1px solid #CBCBCB; 
color: #000000; 
font-size: 11px; 
}

.button:hover { 
color: #FF8C00; 
}

/** category text format and links **/
.category { 
color: #FF8C00; 
text-decoration: none; 
}

.componentheading { 
color: #999; 
font-family: 'Lucida Grande','Lucida Sans Unicode','Trebuchet MS',arial,verdana,sans-serif;font-size: 20px; 
font-weight: normal; 
letter-spacing: -1px; 
margin: 0px; 
padding-bottom: 10px; 
width: 100%
text-transform: uppercase; 
}

.contentdescription { 
}

.contentheading { 
border-bottom: 1px dashed #ededed; 
color: #B6E449; font-family: 'Lucida Grande','Lucida Sans Unicode','Trebuchet MS',arial,verdana,sans-serif; 
font-size: 20px; font-weight: normal; 
letter-spacing: -1px; margin: 0px; 
padding-bottom: 5px; width: 100%; 
}

.contentheading-comp {
color: #999; 
font-family: 'Lucida Grande','Lucida Sans Unicode','Trebuchet MS',arial,verdana,sans-serif;font-size: 20px; 
font-weight: normal; 
letter-spacing: -1px; 
margin: 0px; 
padding-bottom: 10px; 
width: 100%
text-transform: uppercase; 
}

.contentpane, .contentpaneopen { 
width: 100%; 
}


/* Content - Sections & Categories */
.createdate { 
color: #708090; 
font-family: Verdana, Arial, sans-serif; 
font-size: 10px; font-weight: normal; 
text-decoration: none; 
}

.modifydate { 
color: #fb7000; 
font-family: Verdana, Arial, sans-serif; 
font-size: 10px; 
font-weight: normal; 
text-decoration: none; 
}

.details { 
background-color: #FFFFFF; 
background-image: url(../images/read.gif); 
background-position: left; 
background-repeat: no-repeat; 
color: #FF6347; 
font-family: Verdana, Arial, sans-serif; 
font-size: 11px; 
line-height: 20px; 
padding-left: 20px; 
}

.headings { 
color: #93b312; 
font-family: Verdana, Arial, sans-serif; 
font-size: 23px; 
letter-spacing: -1px; 
}

.moduletable { 
padding-bottom: 35px; 
text-align: right; 
width: 200px; 
}

.moduletable h3 { 
color: #999; 
font-family: 'Lucida Grande','Lucida Sans Unicode','Trebuchet MS',arial,verdana,sans-serif;
font-size: 16px; 
font-weight: normal; 
letter-spacing: -1px; 
margin: 0px; 
padding-bottom: 5px; 
text-align: right; 
}

.moduletable td { 
font-size: 11px; 
text-align: right; 
}

.moduletable-main li, li, .moduletable li { 
list-style: none; 
}

.quote, .quote2 { 
color: #999; 
font: oblique 135%/155% georgia, times, serif; 
font-size: 15px; 
margin: 0 auto; 
}

.sectiontableentry1 { }
.sectiontableentry2 { }
.sectiontableheader { 
color: #666; 
font-weight: normal; 
padding-bottom: 15px; 
padding-top: 7px; 
}

.small, .smalldark { 
color: #666; 
font-family: Verdana, Arial, sans-serif; 
font-size: 10px; 
font-weight: normal; 
text-decoration: none; 
}

.subheadings { 
color: #6991A0; 
font-family: Verdana, Arial, sans-serif; 
font-size: 16px; 
line-height: 25px; 
}

#body { 
left: 250px; 
position: absolute; 
top: 120px; 
width: 600px; 
}

#body li{ 
list-style: square; 
list-style-position: inside; 
}

#header { 
background-image: url(../images/feature.jpg); 
background-position: top; 
background-repeat: no-repeat; 
height: 510px; left: 600px; 
position: absolute; 
top: 20px; 
width: 369px; 
}

#menu { 
left: 20px; 
position: absolute; 
top: 130px; 
width: 200px; 
}

#top { 
background-image: url(../images/img_logo_new.png); 
/*background-image: url(../images/top.gif);*/
background-position: left; 
background-repeat: no-repeat; 
height: 60px; 
left: 260px; 
position: absolute; 
top: 40px; 
width: 600px; 
}

.idioma { 
	margin-right: 15px;
}


.idioma a:link { 
color: #999999; 
text-decoration: none; 
}

.idioma a:visited { 
color: #999999; 
text-decoration: none; 
}

#div_izq {
height:232px;
width:416px;
position:relative;
 float:left;
}

#div_der {
height:143px;
width:170px;
position:relative;
float:left;
 margin-top:34px;

}
#div_izq2 {
height:175px;
width:194px;
position:relative;
 float:left;
 margin-top:39px;
}

#div_der2 {
height:213px;
width:394px;
position:relative;
float:left;

}

/******************************** estilos para acerca de newshore *****************************************/

.tablaAcercaNew{
margin-top:26px;
}

.tablaAcercaNew img{
margin-top:12px;
}

.tablaAcercaNew td{
padding-bottom:30px;
position:relative;
}

.tablaAcercaNew td p{
margin:0px;
padding:0px;
text-align:justify;
}

.tablaAcercaNew .contentheading{
font-size:17px;
border:none;
}

/************************ estilos para index de intranet ***********************************/

.indexIntranet{
width:600px;
margin-top:26px;
padding:0;
}

.indexIntranet td img{
text-align:center;}

.indexIntranet td p{
text-align:justify;
margin:0;
padding:5px;

}

 /********************************************* estilos para contacto **********************************************/
.titleContacte{
 color: #999999;
    font-family: 'Lucida Grande','Lucida Sans Unicode','Trebuchet MS',arial,verdana,sans-serif;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: -1px;
    margin: 0;
    padding-bottom: 10px;
}

.titleContacte a{
 color: #FE5603;
    font-family: 'Lucida Grande','Lucida Sans Unicode','Trebuchet MS',arial,verdana,sans-serif;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: -1px;
    margin: 0;
    padding-bottom: 10px;
	text-decoration:none;
}

.titleContacte a img{
border:0;
float:left;
display:block;
margin-right:10px;
margin-top:-6px;
}

.titleContacte span{
    color: #FE5603;
    font-family: 'Lucida Grande','Lucida Sans Unicode','Trebuchet MS',arial,verdana,sans-serif;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: -1px;
    margin: 0;
    padding-bottom: 20px;
	text-decoration:none;
	margin-right:20px;
	display:block;
}

.titleContacte .siguenos{
float:left;
display:block;
}

.tableContacte{
width:600px;
margin-top:26px;
}



.tableContacte td{
padding-bottom:20px;
position:relative;
vertical-align:middle;
}

.tableContacte td p{
margin:0px;
padding:0px;
text-align:justify;

}


.tableContacte td h1{ 
    border-bottom: 1px dashed #EDEDED;
    color: #B6E449;
    font-family: 'Lucida Grande','Lucida Sans Unicode','Trebuchet MS',arial,verdana,sans-serif;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: -1px;
    margin: 0;
    padding-bottom: 5px;
    width: 100%;
}

.tableContacte p{ 
    color: #999999;
    font-family: 'Lucida Grande','Lucida Sans Unicode','Trebuchet MS',arial,verdana,sans-serif;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: -1px;
    margin: 0;
    padding-bottom: 5px;
    width: 100%;
}

/****************************** estilos para contacto ************************************/

.tableDirectivo{
width:600px;
margin-top:20px;
}

.tableDirectivo h1{
    color: #B6E449;
    font-family: 'Lucida Grande','Lucida Sans Unicode','Trebuchet MS',arial,verdana,sans-serif;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: -1px;
    margin: 0;
    padding-bottom: 5px;
    width: 100%;
}


.tableDirectivo td{
padding-bottom:20px;
vertical-align:top;
text-align:justify;
}

.tableDirectivo span{
margin:0;
padding:0 0 20px;
font-size:14px;
color:#999999;
margin-left:2px;
}

.tableDirectivo td p{
margin:0px;
padding:0px;
text-align:justify;

}
.foto{
width:160px;
height:190px;
}
.foto img{
width:160px;
height:190px;
padding-right:20px;
}

.btnBlog{
background-color:#F5F5F0;
background-image:url("../images/btnSave.png");
background-repeat:repeat-x;
border-color:-moz-use-text-color #336600 #336600 -moz-use-text-color;
border-style:none solid solid none;
border-width:0 1px 1px 0;
color:white;
color: #FFFFFF !important;
cursor:pointer;
font-size:11px;
height:20px;
margin-left:5px;
margin-right:5px;
outline-width:0;
padding:0 10px;
font-weight:bold;
}

/************************************* estilos para desarrollo de aplicaciones ***********************************/

.contentpaneopen tr td p {
text-align:justify; 
margin-top:8px;
}

.tit_aplicaciones{ 
color: #B6E449; font-family: 'Lucida Grande','Lucida Sans Unicode','Trebuchet MS',arial,verdana,sans-serif; 
font-size: 20px; font-weight: normal; 
letter-spacing: -1px; margin: 0px; 
padding-bottom: 10px; width: 100%; 
}

/*--*/
#right_intranet {
    float: right;
    text-align: right;
}