/*
// JoomlaWorks "Simple Image Gallery PRO" Plugin for Joomla! 1.5.x - Version 2.0.5
// Copyright (c) 2006 - 2010 JoomlaWorks Ltd.
// This code cannot be redistributed without permission from JoomlaWorks
// More info at http://www.joomlaworks.gr
// Designed and developed by JoomlaWorks
// ***Last update: February 18th, 2010***
*/

/* --- IE styling only --- */
li.sig-block a.sig-link,
li.sig-block a.sig-link:hover { float:left; }

/* Caption */
span.sig-pseudo-caption,
span.sig-caption { display:block; position:absolute; bottom:0; left:0; right:0; text-align:center; width:100%;padding:6px 4px; font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; }
