/*
// JoomlaWorks "Simple Image Gallery PRO" Plugin for Joomla! 1.5.x - Version 2.0.5
// Copyright (c) 2006 - 2010 JoomlaWorks Ltd.
// This code cannot be redistributed without permission from JoomlaWorks
// More info at http://www.joomlaworks.gr
// Designed and developed by JoomlaWorks
// ***Last update: February 18th, 2010***
*/

/* --- Generic Styling --- */
a:active,a:focus { outline:0; }
table.contentpaneopen { width:100%; }
ul.sig-container { margin:8px auto !important; padding:8px 0 !important; list-style:none; clear:both; overflow:hidden; background:#F5F3EE; }

/* --- Single Thumbnail Mode Styling --- */
ul.sig-container-single { margin:0 !important; padding:8px 0 !important; list-style:none; float:left; background:#F5F3EE; }

/* Thumbnail */
li.sig-block { float:left; background:none!important; margin:2px; padding:0; border:none!important; }
li.sig-block span.sig-link-wrapper { }
li.sig-block span.sig-link-innerwrapper { }
li.sig-block a.sig-link,
li.sig-block a.sig-link:hover { position:relative; display:block; padding:0 8px 8px 8px; margin:0; }
li.sig-block a.sig-link { color:#333; background:#fff url(bg.png) repeat-x top; border-top:1px solid #fff;border-bottom:1px solid #e5e5e5; }
li.sig-block a.sig-link:hover { color:#eee; text-decoration:none; background:#000 url(bg_hover.png) repeat-x top; border-top:1px solid #000;border-bottom:1px solid #000; }
li.sig-block a.sig-link img.sig-image,
li.sig-block a.sig-link:hover img.sig-image { display:block; padding:0; margin:0; border:none; background-repeat:no-repeat; background-position:50% 50%; }
li.sig-clr { clear:both; float:none !important; height:0 !important; line-height:0 !important; border:none !important; background:none !important; width:auto; margin:0 !important; padding:0 !important; }

/* Caption */
span.sig-pseudo-caption,
span.sig-caption { display:block; position:absolute; top:0; left:0; right:0; text-align:left; padding:6px 0 4px 0;margin:0 8px; font-size:11px; font-weight:bold; }
span.sig-pseudo-caption { background:#fff url(bg.png) repeat-x top; }
li.sig-block a.sig-link:hover span.sig-pseudo-caption { background:#000 url(bg_hover.png) repeat-x top; }
span.sig-pseudo-caption b { visibility:hidden; }

/* Popup */
span.sig-popup-caption { font-weight:bold; color:#C63C13; font-size:13px; font-family:Georgia, "Times New Roman", Times, serif; }
a.sig-download-link,
a.sig-download-link:hover { background:url(disk.png) no-repeat left center; padding:4px 0 4px 20px; }
div.sig-mod-position { text-align:center; border-top:1px solid #ccc; border-bottom:1px solid #ccc; padding:4px; margin:8px 0; background:#ffffdd; }
