/**
* @version $Id: admin.css 3763 2010-10-21 23:57:11Z severdia $
* Kunena Component
* @package Kunena

**/

@CHARSET "UTF-8";

div.header {
	padding-left:148px !important;
}
div.icon-48-kunena {
	background-image:url(../../images/kunena-logo-48.png);
}

.hideable {
	position: relative;
	visibility: hidden;
}

#submenu-box {
	display: none !important;
}

#kadmin {
	text-align: left;
	width: 100%;
	min-height: 500px;
}

#kadmin-header {
	clear: both;
	width: 100%;
	margin-bottom: 15px;
}

.kadmin-container {
	width: 100%;
}
.kadmin-left {
	width: 190px;
	float:left;
	border-right: 1px solid #ccc;
	margin-right: 20px;
	position: absolute;
}

#kadmin table {
	margin: 0;
	padding 0;
	width:100%;
	border: collapse;
}
#kadmin table td {
	padding 5px;
}

table.kadmin-adminform td {
	vertical-align:top;
}

/* Small icons  */
a.icon-cp-sm { background: url(../../images/icons/icon_controlpanel.png) 5px 5px no-repeat; }
a.icon-config-sm { background: url(../../images/icons/icon_config.png) 5px 5px no-repeat; }
a.icon-adminforum-sm { background: url(../../images/icons/icon_forumadmin.png) 5px 5px no-repeat; }
a.icon-profiles-sm { background: url(../../images/icons/icon_useradmin.png) 5px 5px no-repeat; }
a.icon-smilies-sm{ background: url(../../images/icons/icon_smilies.png) 5px 5px no-repeat; }
a.icon-ranks-sm { background: url(../../images/icons/icon_ranks.png) 5px 5px no-repeat; }
a.icon-files-sm { background: url(../../images/icons/icon_uploadedfiles.png) 5px 5px no-repeat; }
a.icon-images-sm { background: url(../../images/icons/icon_uploadedimages.png) 5px 5px no-repeat; }
a.icon-editcss-sm { background: url(../../images/icons/icon_editcss.png) 5px 5px no-repeat; }
a.icon-prune-sm { background: url(../../images/icons/icon_pruneforums.png) 5px 5px no-repeat; }
a.icon-syncusers-sm { background: url(../../images/icons/icon_syncusers.png) 5px 5px no-repeat; }
a.icon-recount-sm { background: url(../../images/icons/icon_recountstats.png) 5px 5px no-repeat; }
a.icon-trash-sm { background: url(../../images/icons/icon_trash.png) 5px 5px no-repeat; }
a.icon-stats-sm { background: url(../../images/icons/icon_stats.png) 5px 5px no-repeat; }
a.icon-systemreport-sm { background: url(../../images/icons/icon_reportconfig.png) 5px 5px no-repeat; }
a.icon-support-sm { background: url(../../images/icons/icon_supportsite.png) 5px 5px no-repeat; }
a.icon-template-sm { background: url(../../images/icons/icon_templatemanager.png) 5px 5px no-repeat; }

/* Large icons */
div.kadmin-functitle.icon-cpanel { background: url(../../images/kcontrolpanel.png) 5px 5px no-repeat; }
div.kadmin-functitle.icon-config { background: url(../../images/kconfig.png) 5px 5px no-repeat; }
div.kadmin-functitle.icon-adminforum { background: url(../../images/kforumadm.png) 5px 5px no-repeat; }
div.kadmin-functitle.icon-profiles { background: url(../../images/kuser.png) 5px 5px no-repeat; }
div.kadmin-functitle.icon-smilies{ background: url(../../images/ksmiley.png) 5px 5px no-repeat; }
div.kadmin-functitle.icon-ranks { background: url(../../images/kranks.png) 5px 5px no-repeat; }
div.kadmin-functitle.icon-files { background: url(../../images/kfiles.png) 5px 5px no-repeat; }
div.kadmin-functitle.icon-images { background: url(../../images/kimages.png) 5px 5px no-repeat; }
div.kadmin-functitle.icon-editcss { background: url(../../images/kcss.png) 5px 5px no-repeat; }
div.kadmin-functitle.icon-prune { background: url(../../images/ktable.png) 5px 5px no-repeat; }
div.kadmin-functitle.icon-syncusers { background: url(../../images/kusers.png) 5px 5px no-repeat; }
div.kadmin-functitle.icon-trash { background: url(../../images/trash.png) 5px 5px no-repeat; }
div.kadmin-functitle.icon-stats { background: url(../../images/stats.png) 5px 5px no-repeat; }
div.kadmin-functitle.icon-systemreport { background: url(../../images/report_conf.png) 5px 5px no-repeat; }
div.kadmin-functitle.icon-support { background: url(../../images/ktechsupport.png) 5px 5px no-repeat; }
div.kadmin-functitle.icon-template { background: url(../../images/templatemanager.png) 5px 5px no-repeat; }

div.kadmin-functitle.no-icon { text-indent: 5px !important; }

.left 	{ text-align:left; }
.right 	{ text-align:right; }
.center { text-align:center; }
.nowrap { white-space: nowrap; }

table.adminform,
form.adminform{
	margin-top: 10px !important;
}

#kadmin-menu {
	border-top: 1px solid #ccc;
}

#kadmin-menu a {
	display: block;
	font-size: 11px;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	height: 25px;
	line-height: 25px;
	text-indent: 30px;
}

.kadmin-mainmenu {
	background: #FBFBFB;
	padding: 3px;
}

.kadmin-activemenu {
	background: #fff;
	padding: 5px;
}

.kadmin-submenu {
	background: #fff;
	padding-left: 10px;
	padding: 5px 5px 5px 15px;
}

.kadmin-right {
	background: #fff;
	padding: 5px 5px 5px 220px;
}

.kadmin-footer {
	clear:both;
	font-size: 10px;
	text-align: right;
	padding: 5px;
	background: #FBFBFB;
}

.kadmin-functitle {
	font-size: 16px;
	text-align: left;
	padding: 5px;
	border: 1px solid #CCC;
	font-weight: bold;
	clear: both;
	display: block;
	height: 48px;
	line-height: 44px;
	text-indent: 60px;
}

.kadmin-funcsubtitle {
	font-size: 14px;
	text-align: left;
	padding: 5px;
	border-bottom: 3px solid #7F9DB9;
	font-weight: bold;
	color: #7F9DB9;
	margin: 10px 0 10px 0;
}

.krow0 td {
	padding: 8px 5px;
	text-align: left;
	border-bottom: 1px dotted #ccc;
}

.krow1 td {
	padding: 8px 5px;
	text-align: left;
	border-bottom: 1px dotted #ccc;
}

td.kadmin-tdtitle {
	font-weight: bold;
	padding-left: 10px;
	color: #666;
}

#kcongifcover fieldset {
	border: 1px solid #CFDCEB;
}

#kcongifcover fieldset legend {
	color: #666;
}

table.kadmin-sort td {
	height: 35px;
}

td.kadmin-paging {
	margin: 0 auto;
	background: #F3F3F3 !important;
}

select#pub_access,
select#latestcategory,
select#kforums {
	height: 110px;
}
select#admin_access {
	height: 70px;
}
select#kforums {
	width: 200px;
}
div.tpl-thumbnail img {
	float:left;
	margin-bottom:10px;
	border:4px solid #ccc;
	padding:2px
	max-width: 300px;
}
div.tpl-desc {
	clear: left;
}
input.ksm-field {
	width: 50px;
}
.kadmin-statscover {
	padding:0px;
}
table.kadmin-stat {
	background-color:#FFFFFF;
	border:1px solid #ddd;
	padding:1px;
	width:100%;
}
table.kadmin-stat th {
	background:#EEE;
	border-bottom:1px solid #CCC;
	border-top:1px solid #EEE;
	color:#666;
	font-size:11px;
	padding:3px 4px;
	text-align:left;
}
table.kadmin-stat td {
	font-size:11px;
	line-height:140%;
	padding:4px;
	text-align:left;
}
table.kadmin-stat caption {
	clear:both;
	font-size:14px;
	font-weight:bold;
	margin:10px 0 2px 0;
	padding:2px;
	text-align:left;
}
table.kadmin-stat .col1 {
	background-color:#F1F3F5;
}
table.kadmin-stat .col2 {
	background-color: #FBFBFB;
}

span.kwriteable { color: green; }
span.kunwriteable { color: red; }
